## **Data Types and Structures Question**

1) what are data structures and why are they important?

Ans) Data structures in python are used to store, access and modify the data efficiently

2) Explain the difference between mutable and immutable data types with example?

Ans) The main difference between mutable and immutable data types are that mutable data type can be modified after the creation but on the other hand immutable data type cannot be modified after the creation.
for example:
mutable data type - lists, dictionaries, and sets
immutable data types - tuple and strings

3) What are the main differnece between lists and tuples in python?

Ans) lists are mutable and tuples are immutable. lists are created using square brackets [] and tuples are created using round brackets ()

4) Describe how dictionaries store data?


Ans) It stores data in key value pair and do not allow duplicates
ex: my_dict = {"name":"Aditya"}

5) why might you use a set instead of list in python?

Ans) The main reason to use set instead of list in python that set does not allow duplicates and it is also and it doesn't store data in order like list

6) what is a string in python and how it is different from list?

Ans) String takes only character values between single or double quotes while lists can be considered as a bag which holds any type of data it can be integer, float, string, boolean or imaginary

7) how do tuples ensure data integrity in python?

Ans) Tuples are immutable data types which ensures that their contents cannot be modified ever.

8) What is a hash table and how does it relate to dictionaries in python?

Ans) A hash table is a table which stores data in key value pair and the key is generated using the hash function, it relates to dictionaries because it also saves the data as key value pair.

9)  can lists contain different type of data types in python?

Ans) Yes list can contain any type of data. It is an hetrogeneous data type

10) Explain why strings are immutable in python

Ans) Strings are immutable in python which means it cannot be change or modified after the creation.

11) What advantages do dictionaries offer over lists for certain tasks

Ans) In tasks like searching dictionaries are prefered over lists because lists contain duplicate values and in searching it will create mess to find a specific value

12) Describe a scenario where using tuple would be preferable over a list

Ans) In scenario where you dont need to change the data after the creation

13) How do sets handle duplication values in python

Ans) It checks for duplicate every time we print the data if found then then dump else append.

14) how does 'in' keyword work differently for lists and dictionaries?

Ans) list - the 'in' keywords iterates through the list and if the value matches to the data and if found it return True else return False

dictionaries- The in keyword checks only the keys of the dictionary, not the values but returns true or false

15) can you modify the elements of tuple? explain why or why not.

Ans) We cannot modify the elements of tuple because it is immutable.

16) what is a nested dictionary and give an example of its use case?

Ans) A nested dictionary is dictionary inside dictionary. It is a collection of dictionaries into one single dictionary

my_dict = {
  "Aditya" : {
    "Age":20,
    "qualification" : "Bachelor",
  },
  "Adi" : {
    "Age" : 19,
    "qualification" : "Undergraduate"
  }
}

17) Describe the time complexity if accessing elements in a dictionary

Ans) O(1), dictionary use to save data in key value pair. It takes constant time to search a value.

18) In what situations are lists prefered over dictionaries?

Ans) A list can store multiple items in one variable and be created using square brackets. Dictionaries are used to store data values in key value pairs. A dictionary is an ordered, changeable collection, and does not allow duplicates

19) why are dictionaires considered unordered, and how does that affect data retrieval?

Ans) Dictionaries are considered unordered because they store data using a hash table which prioritizes fast key based lookups over maintaining a sequence

20) Explain the difference between a list and a dictionary in terms of data retrieval?

Ans) List Retrieval is based on the index number while Dictionary Retrieval is based on the key which is a unique identifier

# **Practical Questions**

In [ ]:
## 1. Write a code to create a string with your name and print it

name = 'Aditya Verma'

print("My name is",name)

My name is Aditya Verma

In [ ]:
## 2. Write a code to find the length of the string "Hello world"

str_ = 'Hello World'
print(len(str_))

11

In [ ]:
## 3. write a code to slice the first 3 characters from the string "Python programming"

a = "Python programming"
a[3:]

'hon programming'

In [ ]:
## 4. write a code to convert the string "hello" to uppercase

strng = 'hello'
print(strng.upper())

HELLO

In [ ]:
## 5. write a code to replace the word "apple" with orange in the string "I like apple"

sen = "I like apple"
print('Sentence before changes ', sen)
replaced_sen = sen.replace('apple','orange')
print("Sentence after changes: ",replaced_sen)

Sentence before changes  I like apple
Sentence after changes:  I like orange

In [ ]:
## 6. write a codee to create a list with number 1 to 5 and print it

ls = [1,2,3,4,5]

In [ ]:
## 7. write a code to append the number 10 to the list [1,2,3,4]

listt = [1,2,3,4]
print("List before: ",listt)
listt.append(10)
print("List After: ",listt)

List before:  [1, 2, 3, 4]
List After:  [1, 2, 3, 4, 10]

In [ ]:
## 8. write a code to remove the number 3 from the list [1,2,3,4,5]

list1 = [1,2,3,4,5]

list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [ ]:
## 9. write a code to access the second element in the list ['a','b','c','d']

lis_ = ['a','b','c','d']
print("The second item in the list: ",lis_[1])

The second item in the list:  b

In [ ]:
## 10. write a code to reverse the list [10,20,30,40,50]

lis1 = [10,20,30,40,50]

print("Reversed list: ",lis1[::-1])

Reversed list:  [50, 40, 30, 20, 10]

In [ ]:
## 11. write a code to create a tuple with the elements 10,20,30 and print it

tuple__ = (10,20,30)
print(tuple__)

(10, 20, 30)

In [ ]:
## 12. write a code to access the first element of the tuple ('apple','banana','cherry')

tuple1 = ('apple','banana','cherry')
tuple1[0]

'apple'

In [ ]:
## 13. write a code to count how many times the number 2 appears in the tuple(1,2,3,2,4,2)

num1 = (1,2,3,2,4,2)

num_count1 = num1.count(2)
print("The count of number 2 is: ",num_count1)

The count of number 2 is:  3

In [ ]:
## 14. write a code to find the index of the element "cat" in the tuple ('dog,'cat','rabbit')

animals1 = ('dog','cat','rabbit')

find_index1 = animals1.index('cat')

print("the index number of cat is: ",find_index1)

the index number of cat is:  1

In [ ]:
## 15. write a code to check if the element "banana"  is in the tuple ('apple','orange','banana')

fruits2 = ('apple','orange','banana')

if "banana" in fruits2:
  print("Banana is present")

Banana is present

In [ ]:
## 16 write a code to create a set with the element 1,2,3,4,5 and print it

set_num1 = {1,2,3,4,5}
print(set_num1)

In [ ]:
## 17. write a code to add the element 6 to the set {1,2,3,4}

my_set1 = {1,2,3,4}
print("Set before adding the element: ",my_set1)

my_set1.add(6)
print("Set after adding the element: ",my_set1)

Set before adding the element:  {1, 2, 3, 4}
Set after adding the element:  {1, 2, 3, 4, 6}

In [ ]:
## 18. write a code to create a tuple with the elements 10,20,30 and print it

tuple_ = (10,20,30)
print(tuple_)

(10, 20, 30)

In [ ]:
## 19. write a code to access the first element of the tuple ('apple','banana','cherry')

fruits1 = ('apple','banana','cherry')
fruits1[0]

'apple'

In [ ]:
## 20. write a code to count how many times the number 2 appears in the tuple (1,2,3,2,4,2)

num = (1,2,3,2,4,2)

num_count = num.count(2)
print("The count of number 2 is: ",num_count)

The count of number 2 is:  3

In [ ]:
## 21. write a code to find the index of the element 'cat' in the tuple ('dog,'cat','rabbit')

animals = ('dog','cat','rabbit')

find_index = animals.index('cat')

print("the index number of cat is: ",find_index)

the index number of cat is:  1

In [ ]:
## 22. write a code to check if the element 'banana' is in the tuple ('apple','orange','banana')

fruits = ('apple','orange','banana')

if "banana" in fruits:
  print("Banana is present")

Banana is present

In [ ]:
## 23. write a code to create a set with the elements 1,2,3,4,5 and print

set_num = {1,2,3,4,5}
print(set_num)

{1, 2, 3, 4, 5}

In [ ]:
## 24. write a code to add the element 6 in the set {1,2,3,4}

my_set = {1,2,3,4}
print("Set before adding the element: ",my_set)

my_set.add(6)
print("Set after adding the element: ",my_set)

Set before adding the element:  {1, 2, 3, 4}
Set after adding the element:  {1, 2, 3, 4, 6}